@media screen and (max-width: 419px) {
    body, container {
        margin: 0 auto;
        padding:0;
    }
    img {
        height: 100px;
    }
    #why img {
        height: 60px;
    }
    h1 {
    font-size: 2.5em;
    margin: 0 auto;
    text-align: center;
    }
    h3 {
        margin: 0;
    }
    #lezioni .row .left,
    #lezioni .row .right, 
    #steps .row .left,
    #steps .row .central,
    #steps .row .right,
    #why .row .first,
    #why .row .second,
    #why .row .third{
        float: none;
        width: 400px;
        margin-top: 20px;
    }
    #lezioni .row {
        background-color: #F2F2CD;
        
    }
    #lezioni .row,
    #steps .row,
    #why .row {
        padding-bottom: 10px;
    }
    .row {
        width: 419px;
        margin: 0;
        padding-top: 10px;
        font-size: 0.7em;
    }
    #steps .row {
        background-color: white;
    }
    #why .row {
        background-color: #F2F2CD;
    }
}