@media screen and (max-width: 420px) {
    body, container {
        margin: 0 auto;
        padding:0;
    }
    img {
        height: 100px;
    }
    #why img {
        height: 40px;
    }
    h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 1.7em;
        margin: 0 auto;
    }
    div {
        padding-bottom: 10px;
        font-size: 12px;
    }
    .container.grey {
        background-color: white;
    }
    #lezioni .row {
        background-color: #F2F2CD;
    }
    #lezioni .row,
    #steps .row,
    #why .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F2F2CD;
        margin-top: 0;
        width: 420px;
        margin: 0;
        padding-top: 0px;
        font-size: 0.7em;
        padding-bottom: 10px;
    }
    #steps .row {
        background-color: white;
    }
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        margin-top: 0;
        padding-bottom: 10px;
        width: 90%;
    }
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 90%;
    }
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        width: 90%;
    }
}